<% if issue.new_record? %>
<% issues = Issue.visible.all(:order => "#{Issue.table_name}.created_on DESC", :limit => Setting.plugin_redmine_recent_issues['recent_issue_count'] || 5) %>

<% if issues.present? %>
<div class="recent-issues">
  <h3>Recent Issues</h3>
  <% issues.each do |issue| %>
    <div class="recent-issue issue-<%= h(issue.id) %>" title="<%= h(truncate(issue.description, :length => 120)) %>">
      <div class="tooltip">
        <%= link_to_issue(issue, :project => !(project.present? && project == issue.project)) %>
        <span class="tip"><%= render_issue_tooltip(issue) %></span>
      </div>
      
      <%= watcher_tag(issue, User.current, {:id => "watch-#{issue.id}", :replace => "watch-#{issue.id}"}) %>
    </div>
  <% end %>
</div>

<style type="text/css">
.recent-issues {padding: 10px 0 25px 0; }
.recent-issues div.tooltip { display: inline; padding-right: 15px; }
/* Used when included on a tabular issue form */
.tabular .recent-issues h3 { margin-left: 180px; }
.tabular .recent-issues div.recent-issue { margin-left: 180px; }
</style>
<% end # issues.present? %>
<% end # new_record? %>
